<% page_title :training_questions %>
<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.it_training_questions'),
      [
        [t('breadcrumb.task_list_home'), task_list_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7 govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: it_training_questions_path, local: true do |f| %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="it-training-options-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
              <%= t('.title') %>
            </h1>
            <p class="govuk-body">Get the skills you need to confidently use a computer in the workplace.</p>
            <p class="govuk-body govuk-!-margin-bottom-2">You can learn for free online at a time that suits you.</p>
          </legend>
          <p class="govuk-body">Learn how to:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>use the internet</li>
            <li>use common office programs</li>
            <li>find a job online</li>
            <li>access public services online</li>
          </ul>
          <span id="it-training-options-hint" class="govuk-hint">
            Tick the box if it applies to you. You'll get a personal action plan based on what you choose.
          </span>
          <div class="govuk-checkboxes govuk-!-margin-top-6">
            <div class="govuk-checkboxes__item govuk-!-margin-top-6">
              <%= check_box_tag 'it_training[]', :computer_skills, user_session.it_training&.include?('computer_skills'), id: :it_training_computer_skills, class: 'govuk-checkboxes__input' %>
              <%= label_tag :it_training_computer_skills, 'I need to improve my computer skills', class: 'govuk-label govuk-checkboxes__label' %>
            </div>
          </div>
        </fieldset>
        <p class="govuk-body govuk-!-margin-top-8">If this does not apply to you, leave the box blank and select continue.</p>
      </div>
      <%= f.button('Continue', class: 'govuk-button govuk-!-margin-top-0 govuk-button govuk-!-margin-bottom-2', data: { module: 'govuk-button' }) %>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "shared/contact_us" %>
    <%= render 'shared/save_or_return_to_your_results' %>
  </div>
</div>
