<% page_title :training_questions %>
<%= back_link %>

<div class="govuk-grid-row govuk-!-margin-top-7 govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: training_questions_path, local: true do |f| %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="training-options-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <%= progression_indicator(step: 1) %>
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
              <%= t('.title') %>
            </h1>
            <p class="govuk-body">It’s easier to find work and you may even earn more if you have maths and English qualifications. There’s no need to be worried about going back into training because:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>courses are usually free</li>
              <li>flexible, part time study fits round your life</li>
              <li>adult learning classes are relaxed and positive</li>
            </ul>
          </legend>
          <span id="training-options-hint" class="govuk-hint">
            Tick all boxes that apply to you. You'll get a personal action plan based on what you choose.
          </span>
          <div class="govuk-checkboxes govuk-!-margin-top-6">
            <div class="govuk-checkboxes__item govuk-!-margin-top-6">
              <%= check_box_tag 'training[]', :english_skills, user_session.training&.include?('english_skills'), id: :training_english_skills, class: 'govuk-checkboxes__input' %>
              <%= label_tag :training_english_skills, 'I need to improve my English skills', class: 'govuk-label govuk-checkboxes__label' %>
            </div>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary" aria-controls="english-skills-details" aria-expanded="true" role="button">
                <span class="govuk-details__summary-text">What will you learn on an English skills course?</span>
              </summary>
              <div class="govuk-details__text govuk-body-m" aria-hidden="false" id="english-skills-details">
                On an adult learning English course you'll improve your confidence with reading and writing. Completing this course shows employers that you can communicate clearly at work in all kinds of situations.
              </div>
            </details>
            <div class="govuk-checkboxes__item govuk-!-margin-top-6 govuk-!-margin-bottom-2">
              <%= check_box_tag 'training[]', :math_skills, user_session.training&.include?('math_skills'), id: :training_math_skills, class: 'govuk-checkboxes__input' %>
              <%= label_tag :training_math_skills, 'I need to improve my maths skills', class: 'govuk-label govuk-checkboxes__label' %>
            </div>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary" aria-controls="maths-skills-details" aria-expanded="true" role="button">
                <span class="govuk-details__summary-text">What will you learn on a maths skills course?</span>
              </summary>
              <div class="govuk-details__text govuk-body-m" aria-hidden="false" id="maths-skills-details">
                On an adult learning maths course you'll improve your confidence with numbers. Completing this course shows employers that you can use maths at work.
              </div>
            </details>
          </div>
        </fieldset>
        <p class="govuk-body govuk-!-margin-top-6">If none of these apply to you, just leave the boxes blank and select continue.</p>
      </div>
      <%= f.button('Continue', class: 'govuk-button govuk-!-margin-top-0 govuk-button govuk-!-margin-bottom-2', data: { module: 'govuk-button' }) %>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "shared/contact_us" %>
    <%= render 'shared/save_or_return_to_your_results' %>
  </div>
</div>
