<% page_title :training_questions %>
<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.training_questions'),
      [
        [t('breadcrumb.task_list_home'), task_list_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7 govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with url: training_questions_path, local: true do |f| %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="training-options-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
              <%= t('.title') %>
            </h1>
            <p class="govuk-body-l">Employers often say they want candidates with maths and English skills – and getting a qualification is one way to show you have those skills. Adult learning is taught in a relaxed and positive way, so there’s no need to be worried about going back into training.</p>
            <p class="govuk-body govuk-!-margin-bottom-2">Lots of different courses are taught in your area that offer flexible learning and part-time study to fit around your life. Many courses are free.</p>
          </legend>
          <span id="training-options-hint" class="govuk-hint">
            Tick all boxes that apply to you.
          </span>
          <div class="govuk-checkboxes govuk-!-margin-top-6">
            <div class="govuk-checkboxes__item govuk-!-margin-top-6">
              <%= check_box_tag 'training[]', :english_skills, user_session.training.include?('english_skills'), id: :training_english_skills, class: 'govuk-checkboxes__input' %>
              <%= label_tag :training_english_skills, 'I need to improve my English skills', class: 'govuk-label govuk-checkboxes__label' %>
            </div>
            <div class="govuk-checkboxes__item govuk-!-margin-top-6">
              <%= check_box_tag 'training[]', :math_skills, user_session.training.include?('math_skills'), id: :training_math_skills, class: 'govuk-checkboxes__input' %>
              <%= label_tag :training_math_skills, 'I need to improve my maths skills', class: 'govuk-label govuk-checkboxes__label' %>
            </div>
          </div>
        </fieldset>
        <p class="govuk-body govuk-!-margin-top-9">If none of these apply to you, just leave the boxes blank and select continue.</p>
      </div>
      <%= f.button('Continue', class: 'govuk-button govuk-!-margin-top-0 govuk-button govuk-!-margin-bottom-2', data: { module: 'govuk-button' }) %>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "shared/contact_us" %>
    <%= render 'shared/save_or_return_to_your_results' %>
  </div>
</div>
