<h1 class="govuk-heading-xl"><%= t('title', scope: scope) %></h1>
<p class="govuk-body-l"><%= t('body', scope: scope) %></p>
<%= form_tag search_path, method: 'get' do %>
  <%= form_group_tag @job_profile_search, :term do %>
    <%= errors_tag @job_profile_search, :term %>
    <%= text_field(nil, :search, class: 'govuk-input search-input govuk-!-width-one-half', placeholder: t('placeholder', scope: scope), aria: { label: 'Search' }, data: { cy: 'search-field'}) %>
    <%= button_tag('Search', class: 'govuk-button search-button', name: nil, aria: { label: 'Search button' }, data: { cy: 'search-field-submit-btn', module: 'govuk-button' }) %>
  <% end %>
<% end %>
