<div class="govuk-grid-column-full govuk-!-padding-0">
  <%= form_tag search_path, method: 'get' do %>
    <%= form_group_tag @job_profile_search, :term, tag_class: ['job-search-form-group-tag'] do %>
      <%= errors_tag @job_profile_search, :term %>
      <%= text_field(nil, :search, value: params[:search], class: 'search-input govuk-input govuk-!-width-one-half', placeholder: t('placeholder', scope: scope), aria: { label: 'Search' }) %>
      <%= button_tag('Search', class: 'govuk-button search-button', aria: { label: 'Search button' }, data: { module: 'govuk-button' }) %>
      <%= render 'shared/search/spell_check' %>
    <% end %>
  <% end %>
</div>
