<% page_title :jobs_near_me %>

<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.jobs_near_me'),
      [
        [t('breadcrumb.home'), root_path],
        [t('breadcrumb.task_list'), task_list_path],
        [t('breadcrumb.action_plan'), action_plan_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <%= error_summary(@job_vacancy_search) %>
    <h1 class="govuk-heading-xl"><%= target_job.name %> jobs near you</h1>
    <div class="govuk-grid-column-full govuk-!-padding-0">
      <%= render 'search_filter' %>
    </div>
    <p class="govuk-body">These jobs are currently being advertised in the <%= link_to('Find a job', 'https://findajob.dwp.gov.uk/', class: 'govuk-link') %> service from the Department for Work and Pensions.</p>
    <p class="govuk-body">Selecting one of these jobs will take you to another government service.</p>
    <div class="govuk-grid-column-full govuk-!-padding-0 govuk-!-margin-top-3">
      <% if @job_vacancies.empty? %>
        <p class="govuk-body-m">0 job vacancies found on the Find a job service</p>
        <h2 class="govuk-heading-s">This service only looks for jobs advertised on the Find a job service from the Department for Work and Pensions. To find <%= target_job.name %> jobs you may need to search elsewhere.</h2>
        <p class="govuk-body">You could try:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>using a different postcode</li>
          <li>using the filters to search a wider local area</li>
          <li>using other job sites</li>
          <li>entering a different name for this job on the <%= link_to 'Find a job', 'https://findajob.dwp.gov.uk/', class: 'govuk-link' %> service</li>
        </ul>
      <% else %>
        <ul class="govuk-list">
          <%= render partial: 'job_vacancy', collection: @job_vacancies %>
        </ul>
        <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
          <%= paginate @job_vacancies, params: { postcode: nil } %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render 'shared/contact_us' %>
    <%= render 'shared/save_or_return_to_your_results' %>
    <%= render 'shared/help_improve_this_service' %>
  </div>
</div>
