<h2 class="app-task-list__section">
  <span class="app-task-list__section-number">5. </span> Help improve this service
</h2>
<ul class="app-task-list__items">
  <li class="app-task-list__item">
    <div class="app-task-list__task-name">
      <% if user_session.page_visited?('training_hub') || user_session.page_visited?('next_steps') %>
        <%= link_to 'https://www.smartsurvey.co.uk/s/get-help-to-retrain/', class: 'govuk-link', data: { tracked_event: 'TaskList - User Exit Survey Link' }, target: '_blank' do %>
          <%= t('help_improve_this_service.cta') %>
        <% end %>
        <span class="app-step-nav__context"><%= t('help_improve_this_service.time') %></span>
      <% else %>
        <div class="govuk-grid-row govuk-body">
          <div class="govuk-grid-column-full">
            <span id='section-5-blocked' class="govuk-tag app-task-list__task-not-active">Can’t start yet</span>
            <%= t('help_improve_this_service.cta') %>
            <span class="app-step-nav__context"><%= t('help_improve_this_service.time') %></span>
          </div>
        </div>
      <% end %>
      <p class="govuk-body govuk-!-margin-bottom-0"><%= t('help_improve_this_service.description') %></p>
    </div>
  </li>
</ul>
