<% page_title :check_your_skills_results %>
<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.search_results'),
      [
        [t('breadcrumb.task_list_home'), task_list_path],
        [t('breadcrumb.check_your_skills'), check_your_skills_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-padding-top-7">
  <div class="govuk-grid-column-two-thirds" >
    <% if @job_profiles.blank? %>
      <%= render '/shared/search/no_results' %>
    <% else %>
      <h3 class="govuk-heading-xl govuk-!-margin-bottom-7"><%= t('.title') %></h3>
      <%= render "shared/search/results_form", search_path: results_check_your_skills_path, scope: 'check_your_skills.results' %>
      <p class="govuk-body-l govuk-!-margin-bottom-2"><%= t('.body') %></p>
      <%= render "results_list", job_profiles: @job_profiles %>
      <div class="govuk-grid-column-full govuk-!-padding-top-6 govuk-!-margin-bottom-4 govuk-!-margin-top-6 pagination__section">
        <%= paginate @job_profiles %>
      </div>
    <% end %>
  </div>
  <%= render "shared/contact_us" %>
</div>
