<% page_title :check_your_skills_results %>
<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.search_your_skills_results'),
      [
        [t('breadcrumb.home'), root_path],
        [t('breadcrumb.task_list'), task_list_path],
        [t('breadcrumb.check_your_skills'), check_your_skills_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds" >
    <%= error_summary(@job_profile_search) %>
    <% if @job_profiles.blank? %>
      <%= render '/shared/search/no_results', scope: user_session.job_profile_skills? ? 'check_your_skills.results.additional_skills' : 'check_your_skills.results' %>
    <% else %>
      <%= render "search_form", scope: user_session.job_profile_skills? ? 'check_your_skills.results.additional_skills' : 'check_your_skills.results' %>
      <%= render "results_list", job_profiles: @job_profiles %>
      <div class="govuk-grid-column-full govuk-!-padding-top-6 govuk-!-margin-bottom-4 govuk-!-margin-top-6 pagination__section">
        <%= paginate @job_profiles %>
      </div>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "shared/contact_us" %>
    <%= render 'shared/save_or_return_to_your_results' %>
  </div>
</div>
