<% page_title :results_saved %>
<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.results_saved'),
      [
        [t('breadcrumb.task_list_home'), task_list_path]
      ]
    )
  end
%>
<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.title') %></h1>
    <p class="govuk-body">We've sent an email to</p>
    <h3 class="govuk-heading-m"><%= @user.email %></h3>
    <p class="govuk-body">Check your email inbox to make sure you've received the email. You may need to verify your email address by clicking a link in the email.</p>
    <p class="govuk-body">If you haven't received this email you can <%= link_to 'send it again', send_email_again_path(email: @user.email), method: :post, class: 'govuk-link' %>.</p>
    <p class="govuk-body">If the email address above is incorrect, <%= link_to 'enter your email address again',save_your_results_path, class: 'govuk-link' %>.</p>
    <%= link_to 'Continue', user_session.registration_triggered_path || task_list_path, class: 'govuk-button' %>
  </div>
  <%= render "shared/contact_us" %>
</div>
