<div id="cookies-banner" class="cookies-modal">
  <%= render partial: 'shared/header', locals: { container_class: ' govuk-!-padding-bottom-2' } %>
  <div class="cookies-modal-content govuk-clearfix" id="cookies-modal">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class=" govuk-grid-column-full">
          <div class="govuk-main-wrapper govuk-!-padding-top-1 govuk-!-padding-bottom-1" role="region" aria-label="cookie banner">
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">This service uses cookies</p>
        <p class="govuk-body cookies-modal-summary">This service uses necessary cookies to make our service work.</p>
        <p class="govuk-body cookies-modal-details">This service uses necessary cookies to make our service work. We would also like to set optional cookies to help us improve it. We won’t set optional cookies unless you agree that we can enable them.</p>

        <%= form_with local: true, url: update_cookie_preferences_path do %>
          <%= submit_tag('Accept all cookies', name: 'cookies[all]', role: 'button', class: 'govuk-button govuk-button--primary govuk-!-margin-right-5 cookies-modal-details', data: { module: 'govuk-button' }) %>
          <%= submit_tag('Accept necessary cookies only', name: 'cookies[necessary]', role: 'button', class: 'govuk-button govuk-button--primary', id: 'cookies-necessary-button', data: { module: 'govuk-button' }) %>
        <% end %>
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1">Necessary cookies</p>
        <p class="govuk-body">Necessary cookies do things such as remember your postcode so the service can recommend local courses and jobs. You can disable necessary cookies by changing your browser settings but this will mean the service can’t offer you as many features.</p>
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1 cookies-modal-details">Cookies that measure website use</p>
        <p class="govuk-body govuk-!-margin-bottom-1 cookies-modal-details">We use Google Analytics to measure how you use Get help to retrain so we can improve it based on user needs. Google Analytics sets cookies that record how you got to the service, the pages you visit, how long you spend on each page and what you do there. These cookies collect information anonymously. If you disable optional cookies you can still use all the features in this service.</p>

        <p class="govuk-body govuk-!-margin-bottom-6">You can find out more about cookies in our <%= link_to 'cookies policy', cookies_policy_path, class: 'govuk-link' %>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

