<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Your training choices</h3>
  </div>
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-1">
    <%= link_to 'Edit your maths and English training choices', training_questions_path, class: 'govuk-link action-plan-action' %>
    <br>
    <%= link_to 'Edit your IT training choices', it_training_questions_path, class: 'govuk-link action-plan-action' %>
  </div>
</div>
<% if user_session.training.present? || user_session.it_training.present? %>
  <p class="govuk-body">You chose to look for some training. Employers value these skills so this can improve your chances of getting a job. You can search for other job-related courses on <%= link_to('Find a course', 'https://nationalcareers.service.gov.uk/find-a-course', class: 'govuk-link') %>, run by the National Careers Service.</p>

  <% if user_session.training.include?('math_skills') %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Maths course</h3>
      </div>
      <div class="govuk-grid-column-one-half">
        <%= link_to 'Find a maths course', courses_path(:maths), class: 'govuk-button govuk-button--secondary action-plan-action', data: { module: 'govuk-button' } %>
      </div>
    </div>
  <% end %>

  <% if user_session.training.include?('english_skills') %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">English course</h3>
      </div>
      <div class="govuk-grid-column-one-half">
        <%= link_to 'Find an English course', courses_path(:english), class: 'govuk-button govuk-button--secondary action-plan-action', data: { module: 'govuk-button' } %>
      </div>
    </div>
  <% end %>

  <% if user_session.it_training.include?('computer_skills') %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s">Computer skills training</h3>
      </div>
      <div class="govuk-grid-column-one-half">
        <%= link_to 'Go to learning provider website', 'https://www.learnmyway.com/subjects', class: 'govuk-button govuk-button--secondary action-plan-action govuk-!-margin-bottom-2', data: { module: 'govuk-button' } %>
      </div>
    </div>
  <% end %>
<% else %>
  <p class="govuk-body">Improve your chances of getting a job by completing training that employers value. You did not choose to get help with your maths or English. If you change your mind, you can edit your training choices.</p>
  <p class="govuk-body">You can search for other job-related courses on <%= link_to('Find a course', 'https://nationalcareers.service.gov.uk/find-a-course', class: 'govuk-link') %>, run by the National Careers Service.</p>
<% end %>
