<% page_title :pages_action_plan %>
<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.action_plan'),
      [
        [t('breadcrumb.task_list_home'), task_list_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7 govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.title') %></h1>
    <p class="govuk-body-l">Your plan of action for finding a new, more secure type of work.</p>

    <div class="govuk-related-items action-plan-section govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-6 govuk-!-margin-top-6">Here’s what you’ve done so far:</h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Your target type of work</h3>
        </div>
        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-1">
          <%= link_to 'Change target type of work', skills_matcher_index_path, class: 'govuk-link action-plan-action' %>
        </div>
      </div>

      <p class="govuk-body govuk-!-margin-bottom-2">You've chosen to target this type of work.</p>
      <h3 class="govuk-heading-s">
        <%= link_to target_job.name, job_profile_path(target_job.slug), class: 'govuk-link' %>
      </h3>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Your skills</h3>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-margin-bottom-1">
          <%= link_to 'View / edit your skills', skills_path, class: 'govuk-link action-plan-action' %>
        </div>
      </div>

      <p class="govuk-body">You added skills based on jobs you've already done.</p>
      <p class="govuk-body">You can see different types of work ideas if you edit your skills.</p>
    </div>

    <div class="govuk-related-items action-plan-section govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-6 govuk-!-margin-top-6">Here’s what you need to do next:</h2>

      <%= render 'training' %>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

      <%= render 'job_hunting' %>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Explore on the job training</h3>
      <p class="govuk-body">Find an adult apprenticeship that lets you earn and learn at your chosen level.</p>
      <p class="govuk-body">
        <%= link_to 'Find an apprenticeship', 'https://www.findapprenticeship.service.gov.uk/apprenticeshipsearch?searchMode=Category', class: 'govuk-link' %>
      </p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"/>

      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Find local schemes and offers</h3>
      <p class="govuk-body">Check if there are any local training and employment schemes in your area.</p>
      <p class="govuk-body">
        <%= link_to 'Show me local offers', offers_near_me_path, class: 'govuk-link' %>
      </p>
    </div>
    <div class="govuk-related-items action-plan-section action-plan-section__bottom govuk-!-margin-bottom-6">
      <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Apply for a job</h3>
        </div>
        <div class="govuk-grid-column-one-half govuk-!-margin-bottom-1">
          <%= link_to 'Change target type of work', skills_matcher_index_path, class: 'govuk-link action-plan-action' %>
        </div>
      </div>
      <p class="govuk-body">Once you're ready to apply, find jobs in your local area.</p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-s"><%= target_job.name %></h3>
        </div>
        <div class="govuk-grid-column-one-half">
          <%= link_to 'Show jobs near me', jobs_near_me_path, class: 'govuk-button govuk-button--secondary action-plan-action', data: { module: 'govuk-button' } %>
        </div>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render "shared/contact_us" %>
    <%= render 'shared/save_or_return_to_your_results' %>
    <%= render 'shared/help_improve_this_service' %>
  </div>
</div>
