<% page_title :pages_location_eligibility %>
<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.location_eligibility'),
      [
        [t('breadcrumb.home'), root_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7 govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.title') %></h1>
    <p class="govuk-body-l">We'll use this to find training courses near you.</p>
    <%= form_tag location_eligibility_path, method: 'get' do %>
      <%= form_group_tag @search, :postcode do %>
        <label class="govuk-label" for="postcode">
          Postcode
        </label>
        <%= errors_tag @search, :postcode %>
        <%= text_field_tag(:postcode, params[:postcode], data: { cy: "postcode-field" }, class: css_classes_for_input(@search, :postcode, "search-input govuk-input govuk-input--width-10")) %>
      <% end %>
      <%= button_tag('Continue', class: 'govuk-button', data: { cy: "postcode-submit-btn" }) %>
    <% end %>
  </div>
  <%= render "shared/contact_us" %>
  <%= render 'shared/save_or_return_to_your_results' %>
</div>
