<% page_title :pages_task_list %>
<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.task_list'),
      [
        [t('breadcrumb.home'), root_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.title') %></h1>
    <p class="govuk-!-margin-bottom-9 govuk-body-m">
      Here's what you need to do to retrain for another job.
    </p>
    <ol class="app-task-list">
      <li>
        <%= render 'pages/task_list_items/item_1' %>
      </li>
      <li>
        <%= render 'pages/task_list_items/item_2' %>
      </li>
      <li>
        <%= render 'pages/task_list_items/item_3' %>
      </li>
      <li>
        <%= render 'pages/task_list_items/item_4' %>
      </li>
      <li>
        <%= render 'pages/task_list_items/item_5' %>
      </li>
    </ol>
  </div>
  <%= render 'shared/contact_us' %>
</div>
