<main role="main">
  <div class="sfPublicWrapper" id="PublicWrapper">
    <header class="job-profile-hero">
      <div data-sf-element="Row">
        <div id="MainContentTop_T41A29498007_Col00" class="sf_colsIn" data-sf-element="Container" data-placeholder-label="Job Profile Hero Container">
          <div class="content-container">
            <div class="grid-row">
              <div class="column-desktop-two-thirds">
                <h1 class="heading-xlarge"><%= name %></h1>
              </div>
            </div>
            <div class="grid-row">
              <div id="Salary" class="column-40 job-profile-heroblock">
                <h2>
                  Average salary
                  <span>(a year)</span>
                </h2>
                <div class="job-profile-salary job-profile-heroblock-content">
                  <p class="dfc-code-jpsstarter">&#163;<%= salary_min %><span>Starter</span></p>
                  <i class="sr-hidden">to</i>
                  <p class="dfc-code-jpsexperienced">&#163;<%= salary_max %> <span>Experienced</span></p>
                </div>
              </div>
              <div id="WorkingHours" class="column-30 job-profile-heroblock">
                <h2>Typical hours <span>(a week)</span></h2>
                <div class="job-profile-hours job-profile-heroblock-content">
                  <p class="dfc-code-jphours">
                    41 to 43                    <span  class="dfc-code-jpwhoursdetail">a week</span>
                  </p>
                </div>
              </div>
              <div id="WorkingHoursPatterns" class="column-30 job-profile-heroblock">
                <h2>
                  You could work
                </h2>
                <div class="job-profile-pattern job-profile-heroblock-content">
                  <p class="dfc-code-jpwpattern">
                    weekends
                    <span class="dfc-code-jpwpatterndetail">at short notice</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="content-container">
      <div class="grid-row" data-sf-element="Row">
        <div id="MainContent_T41A29498001_Col00" class="sf_colsIn column-desktop-two-thirds" data-sf-element="Column 1" data-placeholder-label="Left Two Third Column">
          <div id="MainContent_T41A29498005_Col00" class="sf_colsIn job-profile-sections" data-sf-element="Container" data-placeholder-label="Job Profile Sections Container">
            <nav aria-label="skip to your documents" class="jump-links" role="navigation">
              <ol class="list list-number job-profile-anchorlinks">
                <li>
                  <a href="#HowToBecome">How to become</a>
                </li>
                <li>
                  <a href="#Skills">What it takes</a>
                </li>
                <li>
                  <a href="#WhatYouWillDo">What you&#39;ll do</a>
                </li>
                <li>
                  <a href="#CareerPathAndProgression">Career path and progression</a>
                </li>
                <li>
                  <a href="#current-opportunities">Current opportunities</a>
                </li>
              </ol>
            </nav>
            <section id="HowToBecome">
              <h2 class="heading-large job-profile-heading">How to become an <%= name.downcase %></h2>
              <p>You can get into this job through:</p>
              <ul>
                <li>specialist courses run by a professional body</li>
              </ul>
              <section class="job-profile-subsection" id="volunteering">
                <h3>Volunteering and experience</h3>
                <div class="job-profile-subsection-content">
                  <p>Work experience in a funeral service, mortuary or funeral home could help you to find a trainee position.</p>
                </div>
              </section>
              <section class="job-profile-subsection" id="otherroutes">
                <h3>Other routes</h3>
                <div class="job-profile-subsection-content">
                  <p>You'll usually need to complete a training course approved by the <a href="http://www.bioe.co.uk/education/">British Institute of <%= name %>s</a>. </p>
                  <p>Courses can be studied in the classroom or by distance learning and last between 2 and 3 years. Practical sessions will take place in an embalming theatre.</p>
                  <p>There are no set entry qualifications but GCSEs at grades 9 to 4 (A* to C), including English, maths, chemistry or biology may be helpful.</p>
                  <p>You could do training with your employer's help if you're already working in the funeral industry.</p>
                </div>
              </section>
              <section class="job-profile-subsection" id="moreinfo">
                <h3>More information</h3>
                <div class="job-profile-subsection-content">

                  <h4>Professional and industry bodies</h4>
                  <p>You could join the <a href="https://www.bioe.co.uk/about/">British Institute of <%= name %>s</a> for professional development and to make industry contacts.</p>                            <h4>Further information</h4>
                  <p>You'll find more details about working as an <%= name %> through the <a href="http://www.bioe.co.uk/">British Institute of <%= name %>s</a>.</p>
                </div>
              </section>
            </section>
            <section class="job-profile-subsection" id="Skills">
              <h2 class="heading-large">What it takes</h2>
              <section class="job-profile-subsection">
                <h3>Skills and knowledge</h3>
                <div class="job-profile-subsection-content">
                  <p>You&#39;ll need:</p>
                  <ul>
                    <% skills.each do |skill| %>
                      <li><%= skill.name %></li>
                    <% end %>
                  </ul>
                </div>
              </section>
            </section>
            <section id="WhatYouWillDo">
              <h2 class="heading-large">What you'll do</h2>
              <section class="job-profile-subsection">
                <h3>Day-to-day tasks</h3>
                <div class="job-profile-subsection-content">
                  <p>Your work could include:</p>
                  <ul>
                    <li>washing and disinfecting bodies to prevent deterioration and infection</li>
                    <li>removing fluids and gases from the body and replacing them with injected preservatives</li>
                    <li>using plaster of Paris or wax to restore the appearance of bodies after injury</li>
                    <li>washing and arranging hair and applying cosmetics</li>
                  </ul>
                  <p>You might also be:</p>
                  <ul>
                    <li>working closely with funeral arrangers to make sure the families' wishes are met</li>
                    <li>keeping the mortuary clean and meeting health and safety regulations</li>
                    <li>making sure the mortuary is fully stocked</li>
                    <li>completing any paperwork required by law</li>
                  </ul>
                </div>
              </section>
              <section class="job-profile-subsection" id="workingenvironment">
                <h3>Working environment</h3>
                <div class="job-profile-subsection-content">
                  <p>You could work in a laboratory, at a funeral home or at a research facility.</p>
                  <p>Your working environment may be cool, physically demanding and you&#39;ll travel often.</p>
                  <p>You may need to wear protective clothing.</p>
                </div>
              </section>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
