<% if controller_name == 'home' %>
  <div class="govuk-header__content">
    <%= link_to 'Get help to retrain', "/", class: "govuk-header__link govuk-header__link--service-name" %>
  </div>
<% else %>
  <div class="govuk-header__content">
    <%= link_to "GOV.UK Rails Boilerplate", "/", class: "govuk-header__link govuk-header__link--service-name" %>
    <button type="button" role="button" class="govuk-header__menu-button js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
    <nav>
      <ul id="navigation" class="govuk-header__navigation " aria-label="Top Level Navigation">
        <li class="govuk-header__navigation-item govuk-header__navigation-item--active">
          <%= link_to "Navigation item 1", "#", class: "govuk-header__link" %>
        </li>
        <li class="govuk-header__navigation-item">
          <%= link_to "Navigation item 2", "#", class: "govuk-header__link" %>
        </li>
        <li class="govuk-header__navigation-item">
          <%= link_to "Navigation item 3", "#", class: "govuk-header__link" %>
        </li>
      </ul>
    </nav>
  </div>
<% end %>