<% page_title :skills_matcher_index %>
<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.job_matches'),
      [
        [t('breadcrumb.task_list_home'), task_list_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <% if @results.present? %>
      <h1 class="govuk-heading-xl"><%= t('.title') %></h1>
      <p class="govuk-body-l">You may already have many of the skills for these types of work. Select a job title to find out if you need to do more training.</p>
      <p class="govuk-body">You'll see information on whether job numbers for this type of work have grown or fallen in recent years. If job numbers have grown it may mean you're more likely to find jobs in this type of work and it's more likely to be secure.</p>
      <%= render "job_matches", job_profiles: @job_profiles %>
      <div class="govuk-grid-column-full govuk-!-padding-top-6 govuk-!-margin-bottom-4 govuk-!-margin-top-6 pagination__section">
        <%= paginate @results %>
      </div>
    <% else %>
      <%= render 'no_results' %>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "shared/contact_us" %>
    <%= render 'shared/save_or_return_to_your_results' %>
  </div>
</div>
