<% page_title :skills_matcher_index %>
<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.job_matches'),
      [
        [t('breadcrumb.task_list_home'), task_list_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.title') %></h1>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <%= link_to('Your matches', '#your-matches', class: 'govuk-tabs__tab govuk-tabs__tab-mobile') %>
        </li>
        <li class="govuk-tabs__list-item">
          <%= link_to('Search by job title', params[:search].present? ? job_profiles_path(search: params[:search]) : job_profiles_path, class: 'govuk-link') %>
        </li>
      </ul>
      <section class="govuk-tabs__panel" id="your-matches">
        <p class="govuk-body">Here are some types of work you could do using many of your current skills. Select a job title to build an action plan that will help you change jobs.</p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <% if @results.present? %>
          <%= render 'sort_form' %>
          <ul class="govuk-list">
            <%= render @job_profiles %>
          </ul>
          <div class="<%= @results.size  > 1 ? 'govuk-!-padding-top-6 govuk-!-margin-top-6 pagination__section govuk-!-margin-bottom-4' : '' %>">
            <%= paginate @results %>
          </div>
        <% else %>
          <%= render 'no_results' %>
        <% end %>
      </section>
    </div>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "shared/contact_us" %>
    <%= render 'shared/save_or_return_to_your_results' %>
  </div>
</div>
