<% page_title :skills_matcher_index %>
<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.job_matches'),
      [
        [t('breadcrumb.task_list_home'), task_list_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= t('.title') %></h1>
    <p class="govuk-body">You may already have many of the skills for these types of work. Select a job title to find out if you need to do more training.</p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <p class="govuk-body govuk-!-margin-bottom-1">If you have a particular job in mind, find out how well your skills match to it.</p>
    <p class="govuk-body"><%= link_to 'Search for a job title', job_profiles_path, class: 'govuk-link' %></p>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <% if @results.present? %>
      <%= render 'sort_form' %>
      <ul class="govuk-list">
        <%= render @job_profiles %>
      </ul>
      <div class="govuk-grid-column-full govuk-!-padding-top-6 govuk-!-margin-bottom-4 govuk-!-margin-top-6 pagination__section">
        <%= paginate @results %>
      </div>
    <% else %>
      <%= render 'no_results' %>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "shared/contact_us" %>
    <%= render 'shared/save_or_return_to_your_results' %>
  </div>
</div>
