<h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-heading-l title"><%= course.title %></h2>
<h3 class="govuk-heading-s govuk-!-margin-bottom-0 provider"><%= course.provider %></h3>
<p class="govuk-body govuk-!-margin-bottom-1">Distance: <b>3 miles</b></p>
<p class="govuk-body-s"><%= course.full_address %></p>
<p class="govuk-body-s">Tel:<%= link_to(course.phone_number, "tel:#{course.phone_number}", class: 'govuk-!-padding-left-1' ) %></p>
<%= link_to 'Visit website', course.url, class: 'govuk-!-margin-bottom-6 govuk-button', target: '_blank', data: { tracked_event: "Courses - Clicked course link: #{course.url}" } %>
<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">