<div class="govuk-accordion govuk-accordion-courses" data-module="govuk-accordion" id="accordion-courses">
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-courses-heading-1">
          Filters
        </span>
      </h2>
    </div>
    <div id="accordion-courses-content-1" class="govuk-accordion__section-content govuk-!-padding-top-0" aria-labelledby="accordion-courses-heading-1">
      <%= form_tag courses_path do %>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <%= form_group_tag @search, :postcode, tag_class: ['govuk-!-margin-bottom-3'] do %>
              <%= errors_tag @search, :postcode %>
              <%= label_tag :postcode, 'Postcode', for: 'postcode', class: 'govuk-label' %>
              <%= text_field_tag(:postcode, @postcode, class: css_classes_for_input(@search, :postcode, "govuk-input govuk-!-width-full"), autocomplete: 'postal-code') %>
            <% end %>
            <div class="govuk-form-group">
              <%= label_tag :delivery_type, 'Course type', for: 'delivery_type', class: 'govuk-label' %>
              <%= select_tag :delivery_type, options_for_select(CoursesController::DELIVERY_TYPES, params[:delivery_type] || 'all'), class: 'govuk-select govuk-!-width-full', id: 'delivery_type' %>
            </div>
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group govuk-!-margin-bottom-3">
              <%= errors_tag_minimal @search, :postcode %>
              <%= label_tag :distance, 'Distance', for: 'distance', class: 'govuk-label' %>
              <%= select_tag :distance, options_for_select(CoursesController::DISTANCE, @distance || '20'), class: 'govuk-select govuk-!-width-full', id: 'distance' %>
            </div>
            <div class="govuk-form-group">
              <%= label_tag :hours, 'Course hours', for: 'hours', class: 'govuk-label' %>
              <%= select_tag :hours, options_for_select(CoursesController::HOURS, params[:hours] || 'all'), class: 'govuk-select govuk-!-width-full', id: 'hours' %>
            </div>
          </div>
        </div>
        <%= button_tag('Apply filters', class: 'govuk-button', data: { module: 'govuk-button' }) %>
      <% end %>
    </div>
  </div>
</div>
