<li>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-heading-l"><%= link_to(course.name, course_details_path(topic_id: params[:topic_id], course_id: course.course_id, course_run_id: course.course_run_id), class: 'govuk-link') %></h2>
  <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><span class="govuk-visually-hidden">Provider:</span><%= course.provider_name %></h3>
  <% if course.distance %>
    <p class="govuk-body govuk-!-margin-bottom-0">Distance: <strong><%= course.distance.round(1) %> miles</strong></p>
  <% end %>
  <p class="govuk-body govuk-!-margin-bottom-0">Course type: <strong><%= course.course_type  %></strong></p>
  <% if course.course_hours.downcase != 'undefined' %>
    <p class="govuk-body govuk-!-margin-bottom-0">Course hours: <strong><%= course.course_hours %></strong></p>
  <% end %>
  <% if course.start_date || course.flexible_start_date %>
    <p class="govuk-body govuk-!-margin-bottom-0">Course start date: <strong><%= format_date(course.start_date, course.flexible_start_date) %></strong></p>
  <% end %>
  <% if course.full_address %>
    <p class="govuk-body govuk-!-margin-bottom-0">Location: <span class='govuk-body-s'><%= course.full_address %></span></p>
  <% end %>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
</li>
