<% page_title :courses_index %>

<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.training_courses_near_you'),
      [
        [t('breadcrumb.task_list_home'), task_list_path],
        [t('breadcrumb.action_plan'), action_plan_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <%= error_summary(@search) %>
    <h1 class="govuk-heading-xl"><%= params[:topic_id].titleize %> courses near me</h1>
    <p class="govuk-body-l">Apply for a course by calling the course provider or visiting their website.</p>
    <div class="govuk-grid-column-full govuk-!-padding-0">
      <% if Flipflop.csv_courses? %>
        <%= render 'search_filter' %>
      <% else %>
        <%= form_tag courses_path do %>
          <%= form_group_tag @search, :postcode do %>
            <label class="govuk-label" for="postcode">
              Postcode
            </label>
            <%= errors_tag @search, :postcode %>
            <%= text_field_tag(:postcode, @postcode, class: css_classes_for_input(@search, :postcode, "course-search-input govuk-input govuk-!-width-one-half"), autocomplete: 'postal-code') %>
            <%= button_tag('', class: 'search-button-results', name: nil, aria: { label: 'Search button' }, data: { module: 'govuk-button' }) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="govuk-grid-column-full govuk-!-padding-0">
      <% if @courses.empty? %>
        <p class="govuk-body-m">0 courses found</p>
        <p class="govuk-body-m">Get help to retrain isn't offering courses in your local area yet.</p>
        <p class="govuk-body-m">Find training in your local area using the <%= link_to('Find a course service', 'https://nationalcareers.service.gov.uk/find-a-course', class: 'govuk-link') %> from the National Careers Service.</p>
        <h2 class="govuk-heading-s">Try again using a different postcode.</h2>
        <p class="govuk-body">You could try:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>double checking your postcode</li>
          <li>using a different postcode</li>
        </ul>
      <% else %>
        <ul class="govuk-list">
          <% if Flipflop.csv_courses? %>
            <%= render partial: 'search_course', collection: @courses, as: :course %>
          <% else %>
            <%= render partial: 'course', collection: @courses %>
          <% end %>
        </ul>
        <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
          <%= paginate @courses, params: { postcode: nil } %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="govuk-grid-column-one-third">
    <%= render 'shared/contact_us' %>
    <%= render 'shared/save_or_return_to_your_results' %>
    <%= render 'shared/help_improve_this_service' %>
  </div>
</div>
