<% page_title :courses_index %>

<% content_for :breadcrumb do
    generate_breadcrumbs(
      nil,
      [
        [t('breadcrumb.task_list_home'), task_list_path],
        [t('breadcrumb.courses_near_me'), find_training_courses_path]
      ]
    )
  end
%>
<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= params[:topic_id].titleize %> courses near me</h1>
    <div class="govuk-grid-column-full govuk-!-padding-0">
      <%= render partial: 'course', collection: @courses %>   
    </div>
  </div>

  <%= render 'shared/contact_us' %>
  <%= render 'shared/what_you_can_do_next' %>
  <%= render 'shared/help_improve_this_service' %>
</div>
