<% page_title :courses_show %>

<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.course_details'),
      [
        [t('breadcrumb.task_list_home'), task_list_path],
        [t('breadcrumb.action_plan'), action_plan_path],
        [t('breadcrumb.csv_courses_training_courses_near_you'), courses_path(topic_id: params[:topic_id])]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= @decorated_course_details.name %></h1>
    <h2 class="govuk-heading-m">Course details</h2>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <% if @decorated_course_details.qualification_name.present? %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-width-one-half govuk-width-one-half-mobile">Qualification name</th>
            <td class="govuk-table__cell"><%= @decorated_course_details.qualification_name %></td>
          </tr>
        <% end %>
        <% if @decorated_course_details.course_qualification_level.present? %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Qualification level</th>
            <td class="govuk-table__cell"><%= @decorated_course_details.course_qualification_level %></td>
          </tr>
        <% end %>
        <% if @decorated_course_details.course_study_mode.present? %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Course hours</th>
            <td class="govuk-table__cell"><%= @decorated_course_details.course_study_mode %></td>
          </tr>
        <% end %>
        <% if @decorated_course_details.course_delivery_mode.present? %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Course type</th>
            <td class="govuk-table__cell"><%= @decorated_course_details.course_delivery_mode %></td>
          </tr>
        <% end %>
        <% if @decorated_course_details.attendance_pattern.present? %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Attendance pattern</th>
            <td class="govuk-table__cell"><%= @decorated_course_details.attendance_pattern %></td>
          </tr>
        <% end %>
        <% if @decorated_course_details.start_date.present? || @decorated_course_details.flexible_start_date.present? %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Course start date</th>
            <td class="govuk-table__cell"><%= format_date(@decorated_course_details.start_date, @decorated_course_details.flexible_start_date) %></td>
          </tr>
        <% end %>
        <% if @decorated_course_details.price.present? %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Price</th>
            <td class="govuk-table__cell"><%= @decorated_course_details.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @decorated_course_details.course_description.present? %>
      <h2 class="govuk-heading-m">Course description</h2>
      <p class="govuk-body text-wrap">
        <%= @decorated_course_details.course_description %>
      </p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <% end %>
    <h2 class="govuk-heading-m">Provider details</h2>
    <table class="govuk-table">
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Name</th>
          <td class="govuk-table__cell"><%= @decorated_course_details.provider_name %></td>
        </tr>
        <% if @decorated_course_details.provider_full_address.present? %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Address</th>
            <td class="govuk-table__cell"><%= @decorated_course_details.provider_full_address %></td>
          </tr>
        <% end %>
        <% if @decorated_course_details.provider_phone.present? %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Phone</th>
            <td class="govuk-table__cell"><%= link_to(@decorated_course_details.provider_phone, "tel:#{@decorated_course_details.provider_phone}", class: 'govuk-link') %></td>
          </tr>
        <% end %>
         <% if @decorated_course_details.provider_email.present? %>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Email</th>
            <td class="govuk-table__cell"><%= mail_to(@decorated_course_details.provider_email, @decorated_course_details.provider_email, class: 'govuk-link') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @decorated_course_details.course_url.present? %>
      <p class="govuk-body">If you are interested in this course, visit the website.</p>
      <%= link_to('Visit website', @decorated_course_details.course_url, class: 'govuk-button govuk-!-margin-top-1', role: 'button', data: { cy: 'course-website-btn', module: 'govuk-button', ga_event_category: "#{params[:topic_id]}_courses" }, aria: { label: "Visit website of #{@decorated_course_details.name}" }) %>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render 'shared/contact_us' %>
    <%= render 'shared/save_or_return_to_your_results' %>
    <%= render 'shared/help_improve_this_service' %>
  </div>
</div>
