<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter govuk-!-margin-top-7 govuk-!-margin-bottom-6">
        <div class="profile-highlights salary-icon"></div>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h4 class="govuk-heading-s govuk-!-margin-top-5">Average Salary</h4>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3">
        <ul class="govuk-list">
          <li>
            <%= @job_profile.salary_range %>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter govuk-!-margin-top-7 govuk-!-margin-bottom-6">
        <div class="profile-highlights time-icon"></div>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h4 class="govuk-heading-s govuk-!-margin-top-5">Typical hours</h4>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3">
        <p class="govuk-body"><span id="hours"><%= @job_profile.working_hours %></span> a week</p>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter govuk-!-margin-top-7 govuk-!-margin-bottom-6">
        <div class="profile-highlights calendar-icon"></div>
      </div>
      <div class="govuk-grid-column-three-quarters">
        <h4 class="govuk-heading-s govuk-!-margin-top-5">You could work</h4>
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3">
        <p id="lifestyle" class="govuk-body"><%= @job_profile.working_hours_patterns %></p>
      </div>
    </div>
  </div>

  <% if @job_profile.growth %>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter govuk-!-margin-top-7 govuk-!-margin-bottom-6">
          <div class="profile-highlights <%= @job_profile.growth_icon %>"></div>
        </div>
        <div class="govuk-grid-column-three-quarters">
          <h4 class="govuk-heading-s govuk-!-margin-top-5">Recent job growth</h4>
          <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3">
          <p id="lifestyle" class="govuk-body"><%= @job_profile.growth_type %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
