<li class="govuk-!-padding-bottom-1">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-2">
     <%= link_to job_profile.name, job_profile_path(job_profile.slug, search: params[:search]), class: 'govuk-link' %>
  </h2>
  <% if job_profile.alternative_titles.present? %>
    <span class="govuk-visually-hidden">Alternative titles for this job include:</span>
    <p class="govuk-body-s govuk-!-margin-bottom-2 muted-text"><%= job_profile.alternative_titles %></p>
  <% end %>
  <p class="govuk-!-margin-0 govuk-!-margin-bottom-3"><%= job_profile.description %></p>
  <p class="govuk-body govuk-!-margin-bottom-1">Skills match: <span class="strong"><%= job_profile.skills_match(@scores[job_profile.id]) || 'None' %></span></p>
  <p class="govuk-body govuk-!-margin-bottom-1">Recent job growth: <span class="strong"><%= job_profile.growth_type %></span></p>
  <% if job_profile.growth.present? %>
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary" aria-controls="recent-growth-details-<%= job_profile.slug %>" aria-expanded="true" role="button">
        <span class="govuk-details__summary-text">What does <%= job_profile.growth_type.downcase %> mean?</span>
      </summary>
      <div class="govuk-details__text govuk-body-m" aria-hidden="false" id="recent-growth-details-<%= job_profile.slug %>">
        <%= job_profile.growth_explanation %>
      </div>
    </details>
  <% end %>
</li>
