<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <%= render partial: 'skills_section',  locals: { item_order: 1 } %>
  <%= render partial: 'dynamic_section', locals: { item_order: 2, key: :day_to_day_tasks, title: 'Day-to-day tasks' } %>
  <%= render partial: 'dynamic_section', locals: { item_order: 3, key: :working_environment, title: 'Working environment' } %>
  <%= render partial: 'dynamic_section', locals: { item_order: 4, key: :direct_application, title: 'Direct application' } %>
  <%= render partial: 'apprenticeship',  locals: { item_order: 5 } %>
  <%= render partial: 'dynamic_section', locals: { item_order: 6, key: :career_path, title: 'Career path and progression' } %>
  <%= render partial: 'dynamic_section', locals: { item_order: 7, key: :other_routes, title: 'Other routes' } %>
  <%= render partial: 'dynamic_section', locals: { item_order: 8, key: :career_tips, title: 'Career tips' } %>
  <%= render partial: 'dynamic_section', locals: { item_order: 9, key: :work, title: 'Work' } %>
  <%= render partial: 'dynamic_section', locals: { item_order: 10, key: :restrictions_and_requirements, title: 'Restrictions and requirements' } %>
  <%= render 'apply_to_become' %>
</div>
