<div class="govuk-grid-column-full">
  <%= @job_profile.section(xpath: JobProfileDecorator::APPRENTICESHIP_SECTION_XPATH).html_safe %>
  <%= @job_profile.section(xpath: JobProfileDecorator::WORK_SECTION_XPATH).html_safe %>
  <%= @job_profile.section(xpath: JobProfileDecorator::SKILLS_SECTION_XPATH).html_safe %>
  <%= @job_profile.section(xpath: JobProfileDecorator::RESTRICTIONS_AND_REQUESTS_SECTION_XPATH).html_safe %>
  <%= @job_profile.section(xpath: JobProfileDecorator::WWYD_TASKS_SECTION_XPATH).html_safe %>
  <%= @job_profile.section(xpath: JobProfileDecorator::WWYD_WORK_SECTION_XPATH).html_safe %>
  <%= @job_profile.section(xpath: JobProfileDecorator::DIRECT_APPLICATION_SECTION_XPATH).html_safe %>
  <%= @job_profile.section(xpath: JobProfileDecorator::OTHER_ROUTES_SECTION_XPATH).html_safe %>
  <%= @job_profile.section(xpath: JobProfileDecorator::CAREER_TIPS_SECTION_XPATH).html_safe %>
  <%= @job_profile.section(xpath: JobProfileDecorator::CAREER_PATH_SECTION_XPATH).html_safe %>
</div>
