<% content_for :breadcrumb do %>
  <li class="govuk-breadcrumbs__list-item">
    <%= link_to(t('breadcrumb.home'), root_path, class: 'govuk-breadcrumbs__link') %>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <%= link_to(t('breadcrumb.job_profiles_search'), search_job_profiles_path, class: 'govuk-breadcrumbs__link') %>
  </li>
  <li class="govuk-breadcrumbs__list-item"><%= t('breadcrumb.job_profiles_result') %></li>
<% end %>

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds" >
    <h3 class="govuk-heading-l"><%= t('.title') %></h1>
    <div class="govuk-grid-column-full govuk-!-padding-0">
      <%= form_tag job_profiles_path, method: 'get' do %>
        <div class="govuk-form-group">
          <%= text_field_tag(:name, nil, class: 'search-input govuk-input govuk-!-width-one-half', placeholder: t('.placeholder')) %>
          <%= button_tag('', class: 'search-button-results', name: nil) %>
        </div>
      <% end %>
    </div>
    <% if @job_profiles.blank? %>
      <p class="govuk-body-m"><%= t('.no_results')%></p>
    <% else %>
      <p class="govuk-body-m" ><%= t('.results', count: @job_profiles.count) %></p>
      <p class="govuk-body-l govuk-!-margin-bottom-1"><%= t('.body') %></p>
      <ul class="govuk-list">
        <% @job_profiles.each do |job_profile| %>
          <li class="govuk-!-padding-bottom-2 govuk-!-padding-top-4">
            <h3 class="govuk-!-margin-0">
              <a class="govuk-link" style="text-decoration:none" href="#"><%= job_profile.name %></a>
            </h3>
            <p class="govuk-!-margin-0"><%= job_profile.description %></p>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <%= render "shared/contact_us" %>
</div>
