<% page_title :job_profiles_results %>
<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.job_profiles_search'),
      [
        [t('breadcrumb.task_list_home'), task_list_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds" >
    <% if @job_profiles.blank? %>
      <%= render '/shared/search/no_results', scope: 'job_profiles.index' %>
    <% else %>
      <%= render "search_form" %>
      <ul class="govuk-list">
        <%= render @job_profiles %>
      </ul>
      <div class="govuk-grid-column-full govuk-!-padding-top-6 govuk-!-margin-bottom-4 govuk-!-margin-top-6 pagination__section">
        <%= paginate @results %>
      </div>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <%= render "shared/contact_us" %>
    <%= render 'shared/save_or_return_to_your_results' %>
  </div>
</div>
