<% page_title :job_profiles_show %>
<% content_for :breadcrumb do
    if Flipflop.skills_builder?
      generate_breadcrumbs(
        t('breadcrumb.job_profile'),
        [
          [t('breadcrumb.task_list_home'), task_list_path],
          [t('breadcrumb.job_matches'), skills_matcher_index_path],
        ]
      )
    else
      generate_breadcrumbs(
        t('breadcrumb.job_profile'),
        [
          [t('breadcrumb.task_list_home'), task_list_path],
          [t('breadcrumb.explore_occupations'), explore_occupations_path],
          job_profile_breadcrumbs_for(params)
        ]
      )
    end
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7 govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full govuk-!-padding-0">
      <%= render 'brief' %>
    </div>
    <%= render 'highlights' %>
    <div class="govuk-grid-column-full govuk-!-padding-0 extended-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <%= render 'relevant_sections' %>
          <%= link_to('Back to top', '#', class: 'govuk-link') %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/boost_job_prospects' %>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-related-items govuk-!-padding-bottom-1 top-border__container">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-0"><%= t('what_you_can_do_next.title') %></h2>
      <p class="govuk-body"><%= t('what_you_can_do_next.sub_title') %></p>
      <p class="govuk-body">
        <%= link_to t('what_you_can_do_next.cta_copy'), next_steps_path, class: 'govuk-button govuk-button-full govuk-!-margin-bottom-1' %>
      </p>
    </div>
  </div>
  <%= render 'shared/contact_us' %>
</div>
