<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.job_profile'),
      [
        [t('breadcrumb.task_list_home'), task_list_path],
        [t('breadcrumb.explore_occupations'), explore_occupations_path],
        job_profile_breadcrumbs_for(request.referer)
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-margin-top-7 govuk-body">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-grid-column-full govuk-!-padding-0">
      <%= render partial: 'brief' %>
    </div>
    <div class="govuk-grid-column-full extended-container govuk-!-padding-0  govuk-!-margin-bottom-6">
      <%= render partial: 'highlights' %>
    </div>
    <div class="govuk-grid-column-full govuk-!-padding-0">
      <%= render partial: 'relevant_sections' %>
      <%= link_to('Find a training course', find_training_courses_path, class: 'govuk-button govuk-!-margin-top-6  govuk-!-margin-bottom-9') %>
    </div>
  </div>

  <%= render partial: 'shared/contact_us' %>
</div>
