<% page_title :job_profile_results %>
<% content_for :breadcrumb do
    generate_breadcrumbs(
      t('breadcrumb.search_results'),
      [
        [t('breadcrumb.task_list_home'), task_list_path],
        [t('breadcrumb.explore_occupations'), explore_occupations_path]
      ]
    )
  end
%>

<div class="govuk-grid-row govuk-!-padding-top-7">
  <div class="govuk-grid-column-two-thirds" >
    <h3 class="govuk-heading-l"><%= t('.title') %></h3>
    <%= render "shared/search/results_form", search_path: results_explore_occupations_path, scope: 'explore_occupations.results' %>
    <% if @job_profiles.blank? %>
      <p class="govuk-body-m"><%= render '/shared/search/no_results' %></p>
    <% else %>
      <p class="govuk-body-m" ><%= t('.results', count: @job_profiles.count) %></p>
      <p class="govuk-inset-text"><%= t('.body') %></p>
      <ul class="govuk-list">
        <% @job_profiles.each do |job_profile| %>
          <li class="govuk-!-padding-bottom-1">
            <h3 class="govuk-!-margin-0">
               <%= link_to job_profile.name, job_profile_path(job_profile.slug, explore_occupations_result: params[:name]), class: 'govuk-link no-text-decoration' %>
            </h3>
            <p class="govuk-!-margin-0 govuk-!-margin-bottom-3"><%= job_profile.description %></p>
            <p class="govuk-body-s govuk-!-margin-bottom-1 strong">Salary: <%= job_profile.salary_range %></p>
            <p class="govuk-body-s muted-text">Found in:
              <%= job_profile_category_list(job_profile) %>
            </p>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <%= render "shared/contact_us" %>
</div>
